/*
 * ╭─────────────────────────────────────────────────────────╮
 * │ Header                                                  │
 * ╰─────────────────────────────────────────────────────────╯
*/

.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index:1;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header canvas {
    position: absolute;
    z-index: -1;
    filter: blur(1px);
}
